
<!--{% block title %}Logout Page{% endblock %}-->
{% load crispy_forms_tags %}
{% include 'navbar.html' %}
{% load static %}
{% block content %}
<div class="row mb-3">
                <div class="col-md-12" style="text-align: center;">
                    <img class="animation" style="--i:0; --j:21; text-al" src="{% static 'images/dblogosmall.png' %}">
                </div>
            </div>
<div class="container"> <!-- Adding container -->
<div class="row justify-content-center"> <!-- Centering the content horizontally -->
    <div class="col-md-8" style="text-align: center;">

     <h1>Password Changed Successfully</h1>
    <h5>Your password has been successfully reset.</h5>
    <h5>You can now <a href="{{ login_url }}">log in</a> using your new password.</h5>
    </div>
</div>
</div>

{% endblock %}