{% load crispy_forms_tags %}
{% include 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container"> <!-- Adding container -->
<div class="row justify-content-center"> <!-- Centering the content horizontally -->
    <div class="col-md-6">
        <form method="post" class="form">

            <h1 style="text-align: center; background-color: #ffc107;"><b>Password Reset</b></h1>

            <div class="row mb-3">
                <div class="col-md-12" style="text-align: center;">
                    <img class="animation" style="--i:0; --j:21; text-al" src="{% static 'images/dblogosmall.png' %}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username" style="text-align: left; margin-bottom: 10px;"><b>Username:</b></label>
                        <input type="text" id="id_username" name="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="id_email" style="text-align: left;  margin-bottom: 10px;"><b>Register Email ID:</b></label>
                        <input type="email" id="id_email" name="email" class="form-control">
                    </div>
                    <div class="col-md-12 text-center">
                    <button type="submit" style=" margin-top: 10px;">Reset Password</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}
