
<!--{% block title %}Logout Page{% endblock %}-->
{% load crispy_forms_tags %}
{% include 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container"> <!-- Adding container -->
<div class="row justify-content-center"> <!-- Centering the content horizontally -->
    <div class="col-md-6">


    <form method="post">
     <h1 style="text-align: center;">Enter New Password</h1>

        <div class="row mb-3">
                <div class="col-md-12" style="text-align: center;">
                    <img class="animation" style="--i:0; --j:21; text-al" src="{% static 'images/dblogosmall.png' %}">
                </div>
            </div>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="col-md-12 text-center">
         <button type="submit" style="margin-top: 10px;">Submit</button>
        </div>
    </form>
    </div>
</div>
</div>

{% endblock %}