{% extends 'partials/base.html' %}


{% block title %} Delete Sale {% endblock title %}


{% block content %}
                
    <form method="post">
        
        {% csrf_token %}
        
        <fieldset class="form-group">
            <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">Delete Final Sale Bill</div> <br>
            <h3 style="color:#575757;">Are you sure you want to delete the Final Sale Bill No: {{ final_sale.billno }}?</h3>
            {% if blocking_returns %}
            <p class="alert alert-warning">A Return Bill is still linked to this final sale. Delete related return bill(s) from the Final Sales list first, then try again.</p>
            {% endif %}
        </fieldset>

        <div class="form-group">  
            <button type="submit" class="btn btn-danger" {% if blocking_returns %}disabled{% endif %}>Yes, Delete</button>
            <a href="{% url 'finalsales-list' %}" class="btn btn-secondary">Cancel</a>
        </div>
        
    </form>

{% endblock content %}