{% extends 'partials/base.html' %}
{% load static %}
{% load tz %}
{% load firereport_dt %}
{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>

<script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>

<section class="content">


    <div class="page-header">
      <div class="row">
         <div class="col-sm-6">

<!--            <h1 class="m-0">Assigned Request Details</h1>-->
              <h1 class="m-0 page-title text-capitalize">In Progress Request</h1>
            <ul class="breadcrumb float-sm-left">
               {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                 <li class="breadcrumb-item"><a href="{% url 'dashboard-index' %}">Home</a></li>
                 <li class="breadcrumb-item"><a href="{% url 'firereport-dashboard' %}">Dashboard</a></li>
               {% else %}
                 <li class="breadcrumb-item"><a href="{% url 'firereport-dashboard_staff' %}">Home</a></li>

<!--                        <li class="breadcrumb-item active">Fire Control Teams</li>-->
<!--                        <li class="breadcrumb-item active">Assigned Request</li>-->
               {% endif %}
               <li class="breadcrumb-item active">In Progress Request</li>
            </ul>
         </div>
                  <!-- Add these buttons inside the col-auto div -->
<div class="col-auto text-right float-right ml-auto">
    <div class="dt-buttons btn-group flex-wrap">
        <a href="#" class="btn btn-primary" onclick="firereportTeamOnTheWayGeneratePDF(); return false;" title="PDF"><i class="fas fa-file-pdf" style="font-size: 1.05rem;"></i></a>
        <a href="#" class="btn btn-primary" onclick="firereportTeamOnTheWayGenerateExcel(); return false;" title="Excel"><i class="mdi mdi-microsoft-excel" style="font-size: 18px;"></i></a>
        <a href="#" class="btn btn-primary" onclick="firereportTeamOnTheWayCopyToClipboard(); return false;" title="Copy"><i class="fas fa-copy"></i></a>
        <a href="#" class="btn btn-primary" onclick="firereportTeamOnTheWayPrintTable(); return false;" title="Print"><i class="fas fa-print"></i></a>

<!--         <a href="{% url 'user-add' %}" class="btn btn-primary"  title="New User"><i class="fas fa-plus"></i></a>-->
<!--       <button class="btn btn-outline-primary mr-2" id="generate-pdf"><i class="fas fa-file-pdf"></i> Generate PDF</button>-->
<!--       <button class="btn btn-outline-primary" id="generate-excel"><i class="fas fa-file-excel"></i> Generate Excel</button>-->
    </div>
</div>

      </div>
   </div>


             <div class="card card-primary">

             <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title">In Progress Request Report</h3>
                    </div>
                    <div class="col-6">
<!--                        <label for="filter_option">Filter by:</label>-->
<!--                        <select name="filter_option" id="filter_option" class="form-control" onchange="applyFilter()">-->
<!--                            <option value=""> {{ caption_text1 }}</option>-->
<!--                            <option value=""></option>-->
<!--                            <option value="today">Today</option>-->
<!--                            <option value="last7days">Last 7 Days</option>-->
<!--                            <option value="last30days">Last 30 Days</option>-->
<!--                            <option value="thismonth">This Month</option>-->
<!--                            <option value="all">Up To Date</option>-->
<!--                            <option value="custom">Custom Range</option>-->
<!--                            &lt;!&ndash; Add more filter options as needed &ndash;&gt;-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->





<!--&lt;!&ndash; Add custom date inputs &ndash;&gt;-->
<!--<div class="form-group"  style="display: none;" id="custom-date-inputs">-->
<!--    <label for="start_date">Start Date:</label>-->
<!--    <input type="date" name="start_date" id="start_date" class="form-control">-->
<!--    <label for="end_date">End Date:</label>-->
<!--    <input type="date" name="end_date" id="end_date" class="form-control">-->


<!-- <button type="button" class="btn btn-primary" id="apply-filter-button" onclick="applyFilter()" name="applyButton">Apply Filter</button>-->

<!--</div>-->

<!--  <p><h3 style="text-align: center; color: red;">* {{ caption_text }} *</h3><h3 style="color: blue;">{{ start_date|date:"d-m-Y" }} to {{ end_date|date:"d-m-Y" }}</h3></p>-->
<!--      <h3 style="text-align: center; color: red;">* {{ caption_text }} *</h3>-->
<!--&lt;!&ndash;    <div class="container-fluid">&ndash;&gt;-->
<!--         <div class="table-responsive">-->
<!--        <div class="row">-->
<!--            &lt;!&ndash; left column &ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-12">&ndash;&gt;-->
<!--                &lt;!&ndash; general form elements &ndash;&gt;-->

<!--&lt;!&ndash;                    <div class="row">&ndash;&gt;-->

<!--                     <div class="card-body border" style="background-color: gray">-->
<!--&lt;!&ndash;                           <div class="col-12">&ndash;&gt;-->
<!--                        <table id="example1" class="table table-bordered table-striped datatable table.sm" style="background-color: white" >-->
<!--                            <thead>-->
<!--                            <tr class="text-center">-->
<!--                                <th>Sr No.</th>-->
<!--                                <th>Complaint No.</th>-->
<!--                                <th>Name</th>-->
<!--                                <th>Mobile Number</th>-->
<!--                                <th>Location</th>-->
<!--&lt;!&ndash;                                <th>Message</th>&ndash;&gt;-->
<!--                                <th>Reporting Time</th>-->
<!--                                <th>Status</th>-->
<!--                                <th>Update Date</th>-->
<!--                                <th>Assign Engg</th>-->
<!--                                 <th>Action</th>-->


<!--                            </tr>-->
<!--                            </thead>-->

<!--                   <tbody>-->
<!--                              {% if user.is_authenticated and user.is_staff and user.is_superuser %}-->
<!--                                {% for i in firereport %}-->
<!--                                <tr>-->
<!--                                    <td class="text-center">{{forloop.counter}}</td>-->
<!--                                    <td class="text-center">{{i.id}}</td>-->
<!--                                    <td>{{i.FullName}}</td>-->
<!--                                    <td>{{i.MobileNumber}}</td>-->
<!--                                    <td>{{i.Location}}</td>-->
<!--&lt;!&ndash;                                    <td>{{i.firereport.Message}}</td>&ndash;&gt;-->
<!--                                    <td>{{i.Postingdate|date:"d-m-y h:i A"}}</td>-->
<!--                                    <td>{{i.Status}}</td>-->
<!--                                    <td>{{ i.firetequesthistory_set.first.postingDate|date:"d-m-y h:i A" }}</td>-->
<!--                                    <td class="text-capitalize">{{i.AssignTo.first_name}} {{i.AssignTo.last_name}}</td>-->
<!--                                    <td class="text-center">-->
<!--                                        <div class="btn-group">-->
<!--                                            <a class="btn btn-primary" href="{% url 'firereport-viewRequestDetails' i.id %}"><i class="fa fa-eye"></i></a> &nbsp;&nbsp;-->
<!--&lt;!&ndash;                                            <a class="btn btn-danger" onclick="return confirm('Are you sure to Delete ?')" href="{% url 'firereport-deleteRequest' i.id %}"><i&ndash;&gt;-->
<!--&lt;!&ndash;                                                class="fa fa-trash-alt"></i></a>&ndash;&gt;-->
<!--                                        </div>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                {% endfor %}-->
<!--                            {% else %}-->
<!--                                {% for i in firereport %}-->
<!--                                {% if i.AssignTo == user %}-->
<!--                                <tr>-->
<!--                                    <td class="text-center">{{forloop.counter}}</td>-->
<!--                                    <td class="text-center">{{i.id}}</td>-->
<!--                                    <td>{{i.FullName}}</td>-->
<!--                                    <td>{{i.MobileNumber}}</td>-->
<!--                                    <td>{{i.Location}}</td>-->
<!--&lt;!&ndash;                                    <td>{{i.Message}}</td>&ndash;&gt;-->
<!--                                    <td>{{i.Postingdate|date:"d-m-y h:i A"}}</td>-->
<!--                                    <td>{{i.Status}}</td>-->
<!--&lt;!&ndash;                                    <td>{{i.firetequesthistory.postingDate|date:"d-m-y h:i A"}}</td>&ndash;&gt;-->
<!--                                    <td>{{ i.firetequesthistory_set.first.postingDate|date:"d-m-y h:i A" }}</td>-->

<!--                                    <td class="text-center">-->
<!--                                        <div class="btn-group">-->
<!--                                            <a class="btn btn-primary" href="{% url 'firereport-viewRequestDetails' i.id %}"><i class="fa fa-eye"></i></a> &nbsp;&nbsp;-->
<!--&lt;!&ndash;                                            <a class="btn btn-danger" onclick="return confirm('Are you sure to Delete ?')" href="{% url 'firereport-deleteRequest' i.id %}"><i&ndash;&gt;-->
<!--&lt;!&ndash;                                                class="fa fa-trash-alt"></i></a>&ndash;&gt;-->
<!--                                        </div>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                {% if i.AssignTo != user %}-->
<!--                                  <tr class="text-center">-->
<!--                                      <td colspan="8" class="text-center"><h1>No customers found.</h1></td>-->
<!--                                  </tr>-->
<!--                                {% endif %}-->
<!--                                {% endif %}-->

<!--                                {% endfor %}-->

<!--                            {% endif %}-->

<!--                            </tbody>-->
<!--                        </table>-->
<!--                         <div id="content-container">-->
<!--    &lt;!&ndash; This is where the filtered data will be displayed &ndash;&gt;-->
<!--</div>-->

<!--                    </div>-->
<!--                    </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--<script>-->
<!--function applyFilter() {-->
<!--    const selectedOption = document.getElementById("filter_option").value;-->
<!--    const customDateInputs = document.getElementById("custom-date-inputs");-->
<!--    const startDateInput = document.getElementById("start_date");-->
<!--    const endDateInput = document.getElementById("end_date");-->

<!--    if (selectedOption === "custom") {-->
<!--        customDateInputs.style.display = "block";-->
<!--        startDateInput.removeAttribute("disabled");-->
<!--        endDateInput.removeAttribute("disabled");-->
<!--    } else {-->
<!--        customDateInputs.style.display = "none";-->
<!--        startDateInput.setAttribute("disabled", "disabled");-->
<!--        endDateInput.setAttribute("disabled", "disabled");-->
<!--        filterData(selectedOption); // Call the filterData function when a non-custom option is selected-->
<!--        return;-->
<!--    }-->

<!--    const currentUrl = window.location.href;-->
<!--    const updatedUrl = updateQueryStringParameter(currentUrl, "filter_option", selectedOption);-->

<!--    if (selectedOption === "custom") {-->
<!--        const startDate = startDateInput.value;-->
<!--        const endDate = endDateInput.value;-->
<!--        updatedUrl = updateQueryStringParameter(updatedUrl, "start_date", startDate);-->
<!--        updatedUrl = updateQueryStringParameter(updatedUrl, "end_date", endDate);-->
<!--        filterData("custom", startDate, endDate); // Call the filterData function with custom dates-->
<!--    }-->

<!--    window.location.href = updatedUrl;-->
<!--}-->

<!--function updateQueryStringParameter(uri, key, value) {-->
<!--    const re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");-->
<!--    const separator = uri.indexOf("?") !== -1 ? "&" : "?";-->
<!--    if (uri.match(re)) {-->
<!--        return uri.replace(re, "$1" + key + "=" + value + "$2");-->
<!--    } else {-->
<!--        return uri + separator + key + "=" + value;-->
<!--    }-->

<!--}-->

<!--function filterData(filterOption, startDate, endDate) {-->
<!--    // Send an AJAX request to filter data-->
<!--    const url = window.location.href.split('?')[0];-->
<!--    const xhr = new XMLHttpRequest();-->
<!--    xhr.open("GET", `${url}?filter_option=${filterOption}&start_date=${startDate}&end_date=${endDate}`, true);-->

<!--    xhr.onload = function () {-->
<!--        if (xhr.status === 200) {-->
<!--            // Update the content with the filtered data-->
<!--            const response = xhr.responseText;-->
<!--            const contentContainer = document.getElementById("content-container");-->
<!--            contentContainer.innerHTML = response;-->
<!--        }-->
<!--    };-->

<!--    xhr.send();-->
<!--}-->
<!--</script>-->

<!-- Add this dropdown and custom range input fields above your table -->
<!--<div class="form-group">-->
    <label for="dateFilter">Date Filter:</label>
    <select class="form-control" id="dateFilter" onchange="applyDateFilter()">
        <option value=""> {{ caption_text1 }}</option>
         <option value=""> </option>
        <option value="Today">Today</option>
        <option value="Last7Days">Last 7 Days</option>
        <option value="Last30Days">Last 30 Days</option>
        <option value="ThisMonth">This Month</option>
        <option value="All">Up To Date</option>
        <option value="Custom">Custom Range</option>
    </select>
</div>

                    </div>
                                  <div  class="row mb-1" id="customDateRange" style="display: none;">
    <div class="form-group col-md-5" style="display: inline-block; margin-right: 10px;">
        <label for="startDate">Start Date:</label>
        <input type="date" class="form-control" id="startDate">
    </div>
    <div class="form-group col-md-5" style="display: inline-block; margin-right: 10px;">
        <label for="endDate">End Date:</label>
        <input type="date" class="form-control" id="endDate">
    </div>
    <button class="btn btn-primary" onclick="applyCustomRange()" style="display: inline-block;">Apply</button>
</div>

             </div>

<!--<div id="customDateRange" class="row mb-1" style="display: none;">-->
<!--    <div class="form-group col-md-4">-->
<!--        <label for="startDate">Start Date:</label>-->
<!--        <input type="date" class="form-control" id="startDate">-->
<!--    </div>-->
<!--    <div class="form-group col-md-4">-->
<!--        <label for="endDate">End Date:</label>-->
<!--        <input type="date" class="form-control" id="endDate">-->
<!--    </div>-->
<!--    <button class="btn btn-primary" onclick="applyCustomRange()">Apply</button>-->
<!--</div>-->



<!-- Add this script to handle date filter selection and custom date range -->
<script>
function applyDateFilter() {
    var selectedOption = document.getElementById("dateFilter").value;
    if (selectedOption === "Custom") {
        document.getElementById("customDateRange").style.display = "block";
    } else {
        // Redirect to the URL with the selected filter option
        window.location.href = "{% url 'firereport-teamontheway' %}?filter=" + selectedOption;
    }
}

function applyCustomRange() {
    var startDate = document.getElementById("startDate").value;
    var endDate = document.getElementById("endDate").value;
    // Redirect to the URL with the custom date range
    window.location.href = "{% url 'firereport-teamontheway' %}?filter=Custom&start_date=" + startDate + "&end_date=" + endDate;
}
</script>
<!--&lt;!&ndash;  <p><h3 style="text-align: center; color: red;">* {{ caption_text }} *</h3><h3 style="color: blue;">{{ start_date|date:"d-m-Y" }} to {{ end_date|date:"d-m-Y" }}</h3></p>&ndash;&gt;-->
      <h3 style="text-align: center; color: red;">* {{ caption_text }} *</h3>
  <div class="table-responsive">
        <div class="row">
                                 <div class="card-body border" style="background-color: gray">
<!-- Modify your table to use filtered_firereport -->
  <table id="yourDataTable" class="table table-bordered table-striped datatable table.sm dt-compact-cols dt-tools-minimal" style="background-color: white" >
    <thead>
        <tr class="text-center">


                                <th>Sr No.</th>
                                <th>Complaint No.</th>
                                <th>Name</th>
                                <th>Mobile Number</th>
                                <th>Location</th>
<!--                                <th>Message</th>-->
                                <th>Reporting Time</th>
                                <th>Status</th>
                                <th>Update Date</th>
                                {% if user.is_staff %}
                                  <th>Assign Engg</th>
                                {% endif %}
                                 <th>Action</th>
        </tr>
    </thead>
<!--    <tbody>-->
<!--        {% for i in filtered_firereport %}-->
<!--            <tr>-->
<!--                <td class="text-center">{{forloop.counter}}</td>-->
<!--                &lt;!&ndash; ... your table cells ... &ndash;&gt;-->
<!--            </tr>-->
<!--        {% endfor %}-->
<!--    </tbody>-->
                       <tbody>
                              {% if user.is_authenticated and user.is_staff %}
                                {% for i in filtered_firereport %}
                                <tr>
                                    <td class="text-center">{{forloop.counter}}</td>
                                    <td class="text-center">{{i.id}}</td>
                                    <td>{{i.FullName}}</td>
                                    <td>{{i.MobileNumber}}</td>
                                    <td>{{i.Location}}</td>
                                    <td data-order="{{ i.Postingdate|date:'Y-m-d H:i:s' }}">{{ i.Postingdate|indian_dt }}</td>
                                    <td>{{i.Status}}</td>
                                    <td data-order="{{ i.UpdationDate|date:'Y-m-d H:i:s' }}">{{ i.UpdationDate|indian_dt }}</td>
                                    <td class="text-capitalize">{% if i.AssignTo %}{{i.AssignTo.first_name}} {{i.AssignTo.last_name}}{% else %}-{% endif %}</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="{% url 'firereport-viewRequestDetails' i.id %}"><i class="fa fa-eye"></i></a> &nbsp;&nbsp;
<!--                                            <a class="btn btn-danger" onclick="return confirm('Are you sure to Delete ?')" href="{% url 'firereport-deleteRequest' i.id %}"><i-->
<!--                                                class="fa fa-trash-alt"></i></a>-->
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                              {% endif %}

                            </tbody>


</table>
                                 </div>
        </div>
  </div>

<!--<script>-->
<!--document.addEventListener("DOMContentLoaded", function() {-->
<!--    let dataTable = $('#yourDataTable').DataTable();-->
<!--    //let dataTable = $('#yourDataTable').DataTable({-->
<!--    //    scrollX: true,-->
<!--    //    fixedHeader: true,-->
<!--    //    columnDefs: [-->
<!--    //        { targets: 0, orderable: false } // '0' represents the index of the 'Sr No.' column (zero-based)-->
<!--    //    ]-->
<!--    //});-->

<!--    // Check if the DataTable is already initialized-->
<!--    if ($.fn.dataTable.isDataTable('#yourDataTable')) {-->
<!--        dataTable.destroy(); // If initialized, destroy the DataTable-->
<!--    }-->

<!--    dataTable = $('#yourDataTable').DataTable({-->
<!--       // scrollX: true, // Enable horizontal scrolling-->
<!--        //scrollY: '50vh', // Adjust the height as needed-->
<!--        scrollCollapse: true,-->
<!--        fixedHeader: {-->
<!--            header: true,-->
<!--            footer: false // Do not fix the footer to prevent it from moving-->
<!--        },-->
<!--        columnDefs: [-->
<!--           { targets: 0, orderable: false } // Disable sorting for the Sr No. column (zero-based)-->
<!--        ]-->

<!--    });-->

<!--     $('#yourDataTable tbody tr').each(function(index) {-->
<!--        $(this).find('td:first').text(index + 1);-->
<!--    });-->

<!--      dataTable.on('order.dt search.dt', function() {-->
<!--        dataTable.column(0, { search: 'applied', order: 'applied' }).nodes().each(function(cell, i) {-->
<!--            cell.innerHTML = i + 1;-->
<!--        });-->
<!--    }).draw();-->
<!--});-->
<!--</script>-->
<script>
$(function () {
    function firereportComplaintTableSetup() {
        var $t = $('#yourDataTable');
        if (!$t.length || !$.fn.dataTable || !$.fn.dataTable.isDataTable($t)) {
            return;
        }
        var dt = $t.DataTable();
        dt.page.len(10).draw(false);
        try { dt.column(0).orderable(false); } catch (e) {}
        // Default sort by Update Date (desc)
        try {
            var updateCol = -1;
            $t.find('thead th').each(function (i) {
                var txt = ($(this).text() || '').trim().toLowerCase();
                if (txt === 'update date') { updateCol = i; }
            });
            if (updateCol >= 0) { dt.order([updateCol, 'desc']).draw(false); }
        } catch (e) {}
        if (typeof window.attachGlobalDatatableTools === 'function') {
            window.attachGlobalDatatableTools(dt);
        }
        dt.off('order.dt.firereportSr search.dt.firereportSr');
        dt.on('order.dt.firereportSr search.dt.firereportSr', function () {
            dt.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        });
        dt.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
            cell.innerHTML = i + 1;
        });
    }
    firereportComplaintTableSetup();
    $(window).on('load', firereportComplaintTableSetup);
});
</script>
<script>window.LIST_PAGE_EXPORT_LOGO_PATH = "{% static 'images/db_logo_200.png' %}";</script>
<script src="{% static 'js/list_page_export.js' %}"></script>
<script>
    ListPageExport.register({
        apiPrefix: 'firereportTeamOnTheWay',
        pdfFilename: 'team_on_the_way.pdf',
        excelFilename: 'team_on_the_way.xlsx',
        excelSheetName: 'TeamOnTheWay',
        printDocumentTitle: 'Team On The Way',
        pdfCaption: 'In Progress List',
        pdfMergeNamePhoneColumns: true
    });
</script>

{% endblock %}