{% extends 'partials/base.html' %}

{% load static %}
{% load indian_filters %}


{% block title %}{% endblock title %}


{% block content %}
<style>
    .goods-table-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .goods-table {
        width: 100%;
        border-collapse: collapse;
    }

    .goods-table td, .goods-table th {
        border: 1px solid black;
        padding: 7px; /* Default padding */
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let goodsTable = document.getElementById("goods-table");
        if (!goodsTable) return;
        let rowCount = goodsTable.querySelectorAll("tbody tr").length;
        let cells = goodsTable.querySelectorAll("tbody td, thead td, thead th");
        let newPadding = rowCount > 8 ? "0px" : "7px";
        for (let cell of cells) {
            cell.style.padding = newPadding;
        }
    });
</script>
<!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">

    <!-- font awesome cdn -->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">-->

    <!-- Main CSS, then Sidebar CSS, Bill CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bill1.css' %}">
    <style id="bill-print-repeat-header">
      @media print {
        body * { visibility: hidden; }
        #printArea, #printArea * { visibility: visible; }
        #printArea { position: absolute; left: 0; top: 0; width: 100%; }
        /* Outer table: company row in thead repeats on every printed page */
        #printArea table.bill-root-table > thead { display: table-header-group !important; }
        /* Goods table: thead repeats when item rows span a new page */
        #printArea table.goods-table > thead { display: table-header-group !important; }
        #printArea table.bill-root-table,
        #printArea table.bill-root-table > tbody > tr > td table { page-break-inside: auto; }
        #printArea table.goods-table { page-break-inside: auto; }
        #printArea .bill-details-block { page-break-inside: avoid; }
        #printArea tfoot { display: table-footer-group; }
        #printArea table.bill-root-table > tbody > tr.bill-goods-row,
        #printArea table.bill-root-table > tbody > tr.bill-totals-row,
        #printArea table.bill-root-table > tbody > tr.bill-footer-extras-row,
        #printArea table.bill-root-table > tbody > tr.bill-signature-row {
          page-break-before: avoid;
          break-before: avoid-page;
        }
        /* Extra bottom line on signature row only when a serial sheet follows (avoids double line when sheet is hidden). */
        #printArea.bill-has-serial-sheet table.bill-root-table > tbody > tr.bill-signature-row > td {
          border-bottom: 1px solid #000 !important;
        }
        #printArea:not(.bill-has-serial-sheet) table.bill-root-table > tbody > tr:last-child {
          display: none !important;
        }
        #printArea table.bill-root-table > tbody > tr.bill-serial-sheet-row {
          page-break-before: always;
          break-before: page;
        }
        #printArea table.bill-root-table > tbody > tr.bill-serial-sheet-placeholder {
          display: none !important;
        }
        #printArea table.bill-root-table > tbody > tr.bill-serial-sheet-row > td {
          border-top: none !important;
        }
        #printArea table.bill-root-table > tbody > tr.bill-serial-sheet-row > td > table.bill-serial-sheet-inner {
          border-top: none !important;
        }
        #printArea table.bill-root-table > tbody > tr.bill-serial-sheet-row > td > table.bill-serial-sheet-inner > tbody > tr:first-child > td {
          border-top: none !important;
        }
        #printArea .bill-serial-sheet-outside-sign {
          page-break-inside: avoid;
          break-inside: avoid;
        }
        .screen-only,
        #print-controls {
          display: none !important;
        }
      }
    </style>
<br>
    <div class="screen-only" style="color:#575757; font-style: bold; font-size: 2rem;  border-bottom: 1px solid white;">Delivery Challan No : {{ bill.billno }}</div>
    <!-- <br><br> --><!-- Log on to codeastro.com for more projects -->
  <br>
 <form method="post" style="width: 900px; margin: 0 auto;">

    {% csrf_token %}
        <div class="bg">
            <br>
            <div id="printArea" class="bg">
                <table id="bill-layout-table" class="outer-box inner-box bill-root-table" style="width: 840px; margin-left: auto; margin-right: auto;">
                    <thead>
                       <tr class="bill-letterhead-row" style="text-align: center;">
                                    <td colspan="7">
                                        <div style="text-align: center; display: flex; align-items: flex-start; justify-content: center;">
                                            <div style="flex: 500px 300px 0 300px;">
                                                <img style="width: 150px; height: auto;" src="{% static 'images/dblogo200.png' %}" alt="DB Logo">
                                            </div>

                                            <div style="margin-left: 40px; text-align: center; line-height: 1.2;">
                                                <span style="font-size: 100%; margin-right: 50px;">PROVISIONAL SALE DELIVERY CHALLAN</span><br>
                                                <span style="font-size: 300%;">HERAMB INDUSTRIES</span><br>
                                                <span style="font-size: 120%; font-weight: bold;">Sales - On-Grid / Off-Grid Solar</span><br>
                                                <span style="font-size: 90%;  line-height: 1.5;"> <span style="font-weight: bold;">REGD ADDRESS :</span> Bhagya Bangla, Block No. 2, Opp - Sant Eknamth Mandir,<br> New Osmanpura, Chh.Sambhaji Nagar. Maharashtra, 431001<br>
                                                <span><b>EMAIL :</b> &nbsp;herambasd1@gmail.com , &nbsp; <b>GSTIN/UIN :</b>&nbsp;  27AIPPD9639R1Z6</span><br><br></span>
                                            </div>
                                        </div>
                                    </td>
                       </tr>
                    </thead>
                    <tbody>
                        <tr class="bill-details-block">
                            <td colspan="7">
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;  padding-left: 10px;">&nbsp;NAME OF CONSIGNEE / BUYER</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold; padding-left: 10px;">DELIVERY CHALLAN NO</td>
                                        <td class="inner-box" style="width: 25%; color: red;">&nbsp;&nbsp;<b>{{ bill.billno }}</b></td>
                                    </tr>
                                    <tr>
<!--                                        <td class="inner-box text-capitalize" style="width: 50%;">&nbsp;{{ bill.Cust_id.Comp_name }}</td>-->
                                         {% if bill.Cust_id %}
                                                <td class="inner-box text-capitalize" style="width: 50%;  padding-left: 10px;">&nbsp;{{ bill.Cust_id.Comp_name }}</td>
                                            {% elif bill.Vend_id %}
                                                <td class="inner-box text-capitalize" style="width: 50%;  padding-left: 10px;">&nbsp;{{ bill.Vend_id.name }}</td>
                                            {% endif %}

                                        <td class="inner-box" style="width: 25%; font-weight: bold; padding-left: 10px;">DATE</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;&nbsp;{{ bill.time|as_bill_date }}</td>
                                    </tr>
                                    <tr style="height: auto;"><!-- Log on to codeastro.com for more projects -->
<!--                                        <td class="inner-box text-capitalize" style="width: 50%;" rowspan="7">{{ bill.Cust_id.Address|linebreaks }}{{bill.Cust_id.City}},{{bill.Cust_id.phone}}</td>-->
                                        {% if bill.Cust_id %}
                                                <td class="inner-box text-capitalize" style="width: 50%;  padding-left: 10px;" rowspan="7">{{ bill.Cust_id.Address|linebreaks }} {{bill.Cust_id.City}}, {{bill.Cust_id.state}}, {{bill.Cust_id.Pincode}},<br> Ph. {{bill.Cust_id.phone}}</td>
                                        {% elif bill.Vend_id %}
                                                <td class="inner-box text-capitalize" style="width: 50%;  padding-left: 10px;" rowspan="7">{{ bill.Vend_id.address|linebreaks }} {{bill.Vend_id.city}}, {{bill.Vend_id.state}}, {{bill.Vend_id.Pincode}},<br> Ph. {{bill.Vend_id.phone}}</td>
                                        {% endif %}
                                        <td class="inner-box" style="width: 25%; font-weight: bold; padding-left: 10px;">PREV. DELI. CHALLAN NO</td>
<!--                                         <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="eway" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.eway %}{{ billdetails.eway }}{% endif %}" required> </td>-->
                                        <td class="inner-box align-middle" style="width: 25%;">&nbsp;
                                            {% if billdetails.eway %}
                                                  {{ billdetails.eway }}
                                            {% else %}
                                                    <span style="vertical-align: middle;">&nbsp;-</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr style="height: 5px; padding: 0; margin: 0;">
                                        <td class="inner-box" style="width: 25%; font-weight: bold; padding: 0; margin: 1; padding-left: 10px;">
                                            PREV. BILL DATE
                                        </td>
                                            <td class="inner-box" style="width: 25%; padding: 0; margin: 1; vertical-align: middle;">

                                                {% if billdetails.cgst %}
                                                    <input type="date" name="bill_date" class="align-middle"
                                                           style="border: 0; height: 100%; margin: 0; padding: 0; vertical-align: middle; margin-left: 5px;"
                                                           value="{{ billdetails.cgst }}" readonly>
                                                {% else %}
                                                    <span style="vertical-align: middle;">&nbsp;&nbsp;&nbsp;-</span>
                                                {% endif %}
                                            </td>


                                    </tr>

                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold; padding-left: 10px;">VEH NO</td>
<!--                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="veh" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.veh %}{{ billdetails.veh }}{% endif %}"> </td>-->
                                        <td class="inner-box align-middle" style="width: 25%;"> &nbsp; {% if billdetails.veh %}{{ billdetails.veh }}{% endif %}</td>
                                    </tr>
                                     <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold; padding-left: 10px;">ARRANGE BY</td>
<!--                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="handby" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.igst %}{{ billdetails.igst }}{% endif %}"> </td>-->
                                        <td class="inner-box align-middle" style="width: 25%;">&nbsp;&nbsp;{% if billdetails.sgst %}{{ billdetails.sgst }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold; padding-left: 10px;">HANDLED BY</td>
<!--                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="handby" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.igst %}{{ billdetails.igst }}{% endif %}"> </td>-->
                                        <td class="inner-box align-middle" style="width: 25%;">&nbsp;&nbsp;{% if billdetails.igst %}{{ billdetails.igst }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold; padding-left: 10px;">SOURCE</td>
                                        <td class="inner-box align-middle" style="width: 25%;">&nbsp;&nbsp;{% if billdetails.destination %}{{ billdetails.destination }}{% endif %} </td>
                                    </tr>
                                    <tr>

                                        <td class="inner-box" style="width: 25%; font-weight: bold; padding-left: 10px;">PO NO</td>
<!--                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="po" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.po %}{{ billdetails.po }}{% endif %}"> </td>-->
                                        <td class="inner-box align-middle" style="width: 25%;">&nbsp;&nbsp;
                                            {% if billdetails.po %}
                                                 {{ billdetails.po }}
                                            {% else %}
                                                    <span style="vertical-align: middle;">-</span>
                                            {% endif %} </td>
                                    </tr><!-- Log on to codeastro.com for more projects -->
                                    <tr>
                                         {% if bill.Cust_id %}
                                                <td class="inner-box" style="padding-left: 10px;"><b>MSEB Consumer No :</b>&nbsp;{{ bill.Cust_id.Consumer }}</td>
                                            {% elif bill.Vend_id %}
                                                <td class="inner-box" style="font-weight: bold;  padding-left: 10px;">GSTIN No :&nbsp;{{ bill.Vend_id.gstin }}</td>
                                            {% endif %}


                                        <td class="inner-box" style="width: 25%; font-weight: bold; padding-left: 10px;">PO DATE</td>
                                        <td class="inner-box" style="width: 25%; padding: 0; margin: 1; vertical-align: middle;">
                                            {% if billdetails.tcs %}
                                              <input type="date" name="po_date" class="align-middle"
                                                   style="border: 0; height: 100%; margin: 0; padding: 0; vertical-align: middle; margin-left: 5px;"
                                                   value="{{ billdetails.tcs }}" readonly>

                                            {% else %}
                                                    <span style="vertical-align: middle; margin-left: 5px;">&nbsp;&nbsp;-</span>
                                            {% endif %}
                                        </td>

                                    </tr><!-- Log on to codeastro.com for more projects -->

                                </tbody>
                            </table>
                            </td>
                        </tr>

                        <tr class="bill-goods-row">
                            <td colspan="7">
                            <table id="goods-table" class="outer-box goods-table" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <thead>
                                    <tr class="outer-box">
                                        <td class="inner-box" style="width: 05%; font-weight: bold; text-align: center;">&nbsp;SL</td>
                                        <td class="inner-box" style="width: 50%; font-weight: bold; text-align: center;">GOODS</td>
                                        <td class="inner-box" style="width: 10%; font-weight: bold; text-align: center;" hidden="hidden">&nbsp;HSN/SAC</td>
                                        <td class="inner-box" style="width: 14%; font-weight: bold; text-align: center;">QTY MTS</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;" hidden="hidden">RATE PMT</td>
                                        <td class="inner-box" style="width: 7%; font-weight: bold; text-align: center;" hidden="hidden">GST</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;" hidden="hidden"><i class="fas fa-rupee-sign"></i>  &nbsp;AMOUNT</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in items %}
                                    <tr class="outer-box" style="height: auto;">
                <td class="inner-box" style="width: 5%;" align="center">&nbsp; {{ forloop.counter }}</td>
                <td class="inner-box text-capitalize" style="width: 30%; line-height: 1;  padding-left: 10px;">
                    &nbsp;{{ item.stock.name }}<br>
                    {% if item.serials.exists %}
                        {% if item.serials|length > 10 %}
                            &nbsp;&nbsp;<small style="color: black; font-weight: bold;">As per Serial Number Sheet attached.</small>
                        {% else %}
                            &nbsp;&nbsp;<small style="color: black">Sr No:
                                {% for serial in item.serials %}
                                    {{ serial.serialNo }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </small>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="inner-box" style="width: 10%;" hidden="hidden">&nbsp;</td>
                <td class="inner-box" style="width: 12%; padding-right: 10px;" align="center">&nbsp; <b class="item-quantity">{{ item.quantity }}&nbsp;<small style="color: black">{{ item.sale.short_name }}</small></b></td>
                <td class="inner-box" style="width: 12%; padding-right: 10px;" align="right" hidden="hidden">&nbsp; {{ item.perprice|floatformat:2 }}</td>
                <td class="inner-box" style="width: 7%; padding-right: 10px;" align="right" hidden="hidden">&nbsp; {{ billdetails.gst_value }}%</td>
                <td class="inner-box" style="width: 12%; padding-right: 10px;" align="right" hidden="hidden"><b>&nbsp;{{ item.totalprice|floatformat:2 }}</b></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </td>
                        </tr>

                        <tr class="bill-serial-sheet-placeholder" style="display:none;">
                            <td colspan="7">
                                {% with has_long_serials=False %}
                                {% for item in items %}
                                    {% if item.serials.exists and item.serials|length > 10 %}
                                        <table class="outer-box inner-box serial-sheet-table" style="width: 800px; margin-left: auto; margin-right: auto;">
                                            <thead>
                                                <tr>
                                                    <td colspan="3" class="inner-box" style="text-align:center; font-weight:bold;">Serial Number Sheet</td>
                                                </tr>
                                                <tr>
                                                    <td class="inner-box" style="width:8%; text-align:center; font-weight:bold;">SL</td>
                                                    <td class="inner-box" style="width:40%; text-align:left; font-weight:bold; padding-left:8px;">Item</td>
                                                    <td class="inner-box" style="width:52%; text-align:left; font-weight:bold; padding-left:8px;">Serial Number</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for serial in item.serials %}
                                                <tr>
                                                    <td class="inner-box" style="text-align:center;">{{ forloop.counter }}</td>
                                                    <td class="inner-box text-capitalize" style="padding-left:8px;">{{ item.stock.name }}</td>
                                                    <td class="inner-box" style="padding-left:8px;">{{ serial.serialNo }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                {% endfor %}
                                {% endwith %}
                            </td>
                        </tr>

                        <tr class="bill-totals-row">
                            <td colspan="7">
                            <table class="outer-box inner-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 35%; text-align: center;" hidden="hidden">
                                            <p> <span style="font-weight: bold;" hidden="hidden">BANK DETAILS <br> CodeAstro</span> <br>
                                                WestView Bank <br> AC NO-54A7 6S31 4T85 0RO3 <br> IFSC CODE - ABCD 010 0110 <br> CS BRANCH <br> PH NO - 541-010-0400</p>
                                        </td>

                                        <td class="inner-box" style="width: 30%; font-weight: bold; padding-right: 10px;" align="right" hidden="hidden">&nbsp;Basic Amount</td>
                                         <td class="inner-box align-middle" style="width: 30%; padding-right: 10px;" align="right" hidden="hidden">&nbsp; {{ billdetails.total_amount }}</td>
                                    </tr>
                                    <tr hidden="hidden">
                                        <td class="inner-box" style="width: 30%; font-weight: bold; padding-right: 10px;" align="right">&nbsp;GST @ {{ billdetails.gst_value }} </td>
                                        <td class="inner-box align-middle" style="width: 30%; padding-right: 10px;" align="right">&nbsp; {{ billdetails.gst_amount }}</td>
                                    </tr>
                                    <tr hidden="hidden"><!-- Log on to codeastro.com for more projects -->
                                        <td class="inner-box" style="font-weight: bold; padding-right: 10px;" align="right">&nbsp;Round Off </td>
                                        <td class="inner-box align-middle" align="right" style="padding-right: 10px;">&nbsp; {{billdetails.round_off}}</td>
<!--                                        <td class="inner-box align-middle" align="right" style="padding-right: 10px;">&nbsp; <input type="text" name="cess" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.cess %}{{ billdetails.cess }}{% endif %}"></td>-->
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="text-align: right; font-weight: bold; padding-right: 0px;">Item Total Quantity:</td>
                                        <td align="right"><span id="total-quantity" style="font-weight: bold; padding-right: 70px;">0</span></td>

                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>

                        <tr class="bill-signature-row">
                              <td align="right" colspan="7">
                                <div style="display:flex; justify-content:space-between; align-items:flex-end; width:100%; gap:12px; padding:0 10px 4px 10px; font-size:11px;">
                                    <div style="flex:1; text-align:center; font-weight:bold;">Consumer Sign</div>
                                    <div style="flex:1; text-align:center; font-weight:bold;">Arrange By Sign</div>
                                    <div style="flex:1; text-align:center; font-weight:bold;">Handle By Sign</div>
                                    <div style="flex:1.2; text-align:center;">
                                        <div style="font-weight:bold;">For Heramb Industries</div>
                                        <img src="{% static 'images/sign.jpeg' %}" onerror="this.onerror=null;this.src='{% static 'images/sign.jpg' %}';this.onerror=function(){this.onerror=null;this.src='{% static 'images/sign.png' %}';};" style="max-width:150px; max-height:64px; object-fit:contain;" alt="Authorized Sign">
                                        <div style="font-weight:bold;">Seal &amp; Sign</div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr class="bill-serial-sheet-row">
                            <td colspan="7">
                                <table class="outer-box inner-box bill-serial-sheet-inner" style="width: 800px; margin-left: auto; margin-right: auto;">
                                    <tbody>
                                        <tr>
                                            <td class="inner-box" style="text-align:center; font-weight:bold;">Serial Number Sheet</td>
                                        </tr>
                                        <tr>
                                            <td class="inner-box" style="padding:10px;">
                                                {% for item in items %}
                                                    {% if item.serials.exists and item.serials|length > 10 %}
                                                        <div style="font-weight:bold; margin-top:8px;">{{ item.stock.name }}</div>
                                                        <ul style="column-count:{% if item.serials|length > 30 %}4{% else %}3{% endif %}; column-gap:24px; margin:6px 0 10px 0; padding:0; list-style:none;">
                                                            {% for serial in item.serials %}
                                                                <li style="break-inside: avoid; page-break-inside: avoid; margin:0 0 2px 0;">
                                                                    <span style="display:inline-block; min-width:28px; font-weight:bold;">{{ forloop.counter }}.</span>{{ serial.serialNo }}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="bill-serial-sheet-outside-sign" style="display:flex; justify-content:space-between; align-items:flex-end; width:800px; max-width:100%; margin:12px auto 0 auto; gap:12px; padding:0 10px 4px 10px; font-size:11px; box-sizing:border-box;">
                                    <div style="flex:1; text-align:center; font-weight:bold;">Consumer Sign</div>
                                    <div style="flex:1; text-align:center; font-weight:bold;">Arrange By Sign</div>
                                    <div style="flex:1; text-align:center; font-weight:bold;">Handle By Sign</div>
                                    <div style="flex:1.2; text-align:center;">
                                        <div style="font-weight:bold;">For Heramb Industries</div>
                                        <img src="{% static 'images/sign.jpeg' %}" onerror="this.onerror=null;this.src='{% static 'images/sign.jpg' %}';this.onerror=function(){this.onerror=null;this.src='{% static 'images/sign.png' %}';};" style="max-width:150px; max-height:64px; object-fit:contain;" alt="Authorized Sign">
                                        <div style="font-weight:bold;">Seal &amp; Sign</div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: center;" colspan="7">
                                <!-- FINAL TEXT -->
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <!-- <br><br> --><!-- Log on to codeastro.com for more projects -->

        </div>

        <br><br>

        <div id="print-controls" class="wrapper">
            <button type="button" class="center btn btn-primary" onclick="printpage('printArea'); return false;">Print</button>
            <a href="{% url 'sales-list' %}" class="btn center btn-secondary">Go Back</a>
        </div><!-- Log on to codeastro.com for more projects -->

    </form>

    <script>
        function printpage() {
            window.print();
        }
        </script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var printArea = document.getElementById("printArea");
        var serialSheetRow = document.querySelector("#bill-layout-table tr.bill-serial-sheet-row");
        if (!serialSheetRow) return;
        var serialEntries = serialSheetRow.querySelectorAll("li");
        if (!serialEntries.length) {
            serialSheetRow.style.display = "none";
        } else if (printArea) {
            printArea.classList.add("bill-has-serial-sheet");
        }
    });
</script>
<style>
    .outer-box{
    border-collapse: collapse;
}

.inner-box{
    border: 1px solid #000;
}

.wrapper{
    text-align: center;
}

.center{
    position: relative;
}

.bg{
    background-color: #fff;
    color: #000;
}

.bg-black{
    background-color: #000;
    color: #fff;
}

p{
    background-color: #fff;
    color: #000;
}
</style>
<script>
// Pass the unit from the first item (if exists) to a JavaScript variable.
    {% if items %}
      var unit = "{{ items.0.sale.short_name }}";
    {% else %}
      var unit = "";
    {% endif %}

// JavaScript to calculate total quantity
function calculateTotalQuantity() {
    let totalQuantity = 0;
    document.querySelectorAll('.item-quantity').forEach(item => {
        totalQuantity += parseFloat(item.textContent) || 0;
    });
    document.getElementById('total-quantity').textContent = totalQuantity.toFixed(2);
    // document.getElementById('total-quantity').textContent = totalQuantity.toFixed(2) + " " + unit;
}

// Calculate the total when the page loads
document.addEventListener("DOMContentLoaded", calculateTotalQuantity);
</script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
{% endblock %}