{% extends 'partials/base.html' %}
{% block title %}Order Page{% endblock %}

{% block content %}
   <style>
    @media (max-width: 767px) {
        .banner-text {
            font-size: 24px; /* Adjust the font size as needed */
        }
    }
</style>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            {% if message.tags %} <script> alert("{{ message }}") </script> {% endif %}>{% endfor %}
        </ul>
    {% endif %}


    <div class="testbox">
        <form  method="post" name="Cust_Form" onfocus="frm_onfocus(this)" hx-post="" hx-target="body">
        {% csrf_token %}
        <div class="banner d-flex flex-column align-items-center">
         <h2 class="banner-text">

            Industrial Consumer Registration
         </h2>
        </div> <br>
<!--         <div class="colums">-->
        <div class="row mb-1">
           <div class="col-md-4 item1">
            <label for="Comp_name">Consumer/Farm Name<span>*</span></label>
            <input id="Comp_name" type="text" name="Comp_name" class="text-capitalize form-control" placeholder="Comp_name" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ Comp_name }}"  onblur="pink" required/>
           </div>

          <div class="col-md-4 item1">
            <label for="po_date">PO Date<span>*</span></label>
            <input id="po_date" class="text-capitalize form-control" type="Date" name="po_date" placeholder="PO Date" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ po_date }}" required/>
          </div>

           <div class="col-md-4 item1">
               <label for="po_order">PO Order No<span>*</span></label>
            <input id="po_order" type="text" class="text-capitalize form-control" name="po_order" placeholder="PO Order No" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ po_order }}"  onblur="pink" required/>
           </div>
        </div>
        <div class="row mb-1">

          <div class="col-md-4 item1">
            <label for="Consumer">Consumer Number(MSEDCL)<span>*</span></label>
            <input id="Consumer" type="text" name="Consumer" class="text-capitalize form-control" placeholder="Consumer number" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ Consumer }}"  required/>
           </div>

          <div class="col-md-4 item1">
            <label for="Bill_unit">Billing Unit(BU)<span>*</span></label>
            <input id="Bill_unit" type="text" name="Bill_unit" class="text-capitalize form-control" placeholder="Billing unit" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ Bill_unit }}"  required/>
           </div>


           <div class="col-md-4 item1">
             <label for="Address">Address<span>*</span></label>
             <input id="Address" type="text" name="Address" placeholder="Address" class="text-capitalize form-control" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ Address }}" required/>
           </div>
        </div>
        <div class="row mb-1">
           <div class="col-md-4 item1">
            <label for="City">City<span>*</span></label>
            <input id="City" type="text" name="City" class="text-capitalize form-control" placeholder="City" onfocus="txt_onfocus(this)" class="text-capitalize" onchange="txt_onchange(this)" value="{{ City }}" required/>
           </div>

           <div class="col-md-4 item1">
            <label for="state">State<span>*</span></label>
            <input id="state"  type="text" name="state" placeholder="State" class="text-capitalize form-control" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ state }}" required/>
          </div>

           <div class="col-md-4 item1">
            <label for="Pincode">Pincode<span>*</span></label>
            <input id="Pincode" type="text" name="Pincode" class="text-capitalize form-control" placeholder="Pincode" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ Pincode }}" required/>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-md-4 item1">
            <label for="email">Email Address<span>*</span></label>
            <input id="email" type="email" name="email" placeholder="Email" class="text-capitalize form-control" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ email }}" required/>
          </div>

          <div class="col-md-4 item1">
            <label for="phone">Phone<span>*</span></label>
            <input id="phone" type="tel" name="phone" placeholder="Phone" class="text-capitalize form-control" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ phone }}" required/>
          </div>


<!--           <div class="col-md-4 item1">-->
<!--            <label for="Cus_Act_Date">Consumer Activation Date<span>*</span></label>-->
<!--            <input id="Cus_Act_Date" type="Date" name="Cus_Act_Date" class="text-capitalize form-control" placeholder="Activation Date" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ Cus_Act_Date }}" required/>-->
<!--          </div>-->

           <div class="col-md-4 item1">
             <label for="Plant_Capacity">Plant Capacity<span>*</span></label>
             <input id="Plant_Capacity" type="number" class="text-capitalize form-control" name="Plant_Capacity" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ Plant_Capacity }}" required/>
          </div>
            </div>
        <div class="row mb-1">
          <div class="col-md-4 item1">
            <label for="Ups_Soft">Inverter Online Software<span>*</span></label>
            <input id="Ups_Soft" type="text" class="text-capitalize form-control" name="Ups_Soft" class="text-capitalize" placeholder="UPS Software" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ Ups_Soft }}" required/>
          </div>

           <div class="col-md-4 item1">
            <label for="solar_comp">Solar Panel Make<span>*</span></label>
            <input id="solar_comp" type="text" class="text-capitalize form-control" name="solar_comp" placeholder="Solar Plate Company" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ solar_comp }}" required/>
          </div>

          <div class="col-md-4 item1">
            <label for="UPSC">Inverter Make<span>*</span></label>
            <input id="UPSC" type="text" name="UPSC" class="text-capitalize form-control" placeholder="UPS Company" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ UPSC }}" required="">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-md-4 item1">
            <label for="Ups_Soft">MSEB Load Sanction<span>*</span></label>
            <input id="loadsancution" type="text" name="loadsancution" class="text-capitalize form-control" placeholder="MSEB Load Sanction" onfocus="txt_onfocus(this)" onchange="txt_onchange(this)" value="{{ loadsancution }}" required/>
          </div>

           <div class="col-md-4 item1">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>

            <div class="col-md-4 item1">
              <label for="username">Password</label>
              <input type="text" class="form-control" id="password1" name="password1" value="admin@123" readonly>
            </div>
        </div>
        <div class="row mb-1">
            </div>
            <div class="form-group">
              <input type="hidden" class="form-control" id="password2" name="password2" value="admin@123" readonly>
            </div>

            <div class="btn-block">
<!--                <button type="submit" value="{{Comp_Cust}}">Submit </button>-->
             <button type="submit"  value="{{Comp_Cust}}">Save & New Record </button>
             <button type="submit"  id="saveAndRedirect">Save & Exit</button>
                <button type="Reset" href="/">Reset</button>
            </div>
<!--            {% if messages %}-->
<!--            <ul class="messages">-->
<!--                {% for message in messages %}-->
<!--                {% if message.tags %} <script> alert("{{ message }}") </script> {% endif %}>{% endfor %}-->
<!--            </ul>{% endif %}-->

<!--            <div class="container">-->
<!--                <h1>All Employee Details!</h1>-->
<!--                <hr>-->
<!--                <table class="table table-dark">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th scope="col">Cust id</th>-->
<!--                        <th scope="col">Company Name</th>-->
<!--                        <th scope="col">City</th>-->
<!--                        <th scope="col">Plant Capacity</th>-->
<!--                        <th scope="col">UPS Soft</th>-->
<!--                        <th scope="col">Consumer Type</th>-->
<!--                        <th scope="col">Mobile</th>-->
<!--                        <th scope="col">Address</th>-->
<!--                        <th scope="col">Activation Date</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    {% for Cust in cust %}-->
<!--                    <tbody>-->
<!--                    <tr>-->
<!--                        <th scope="row">{{Cust.Cust_id}}</th>-->
<!--                        <td class="text-capitalize">{{Cust.Comp_name}}</td>-->
<!--                        <td class="text-capitalize">{{Cust.City}}</td>-->
<!--                        <td>{{Cust.Plant_Capacity}} KW</td>-->
<!--                        <td class="text-capitalize">{{Cust.Ups_Soft}}</td>-->
<!--                        <td class="text-capitalize">{{Cust.Cust_type}}</td>-->
<!--                        <td>{{Cust.phone}}</td>-->
<!--                        <td class="text-capitalize">{{Cust.Address}}</td>-->
<!--                        <td>{{Cust.Cus_Act_Date}}</td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                    {% endfor %}-->
<!--                </table>-->
            </div>

        </form>
    </div>
<script>
    // Get a reference to the "Save and Redirect" button
    const saveAndRedirectButton = document.getElementById('saveAndRedirect');

    // Add a click event listener to the button
    saveAndRedirectButton.addEventListener('click', function () {
        // Trigger the form's submit method
        document.Cust_Form.submit();

        // Redirect to the specified URL after the form submission
         alert('Request has been updated');
        window.location.href = '{% url 'customer-cust' %}';
    });
</script>

{% endblock %}