{% extends 'partials/base.html' %}
{% block title %}Order Page{% endblock %}
{% load static %}
{% block content %}
<!--&lt;!&ndash; Display form for selecting company name &ndash;&gt;-->
<!--<form method="post" action="{% url 'customer-display_meters' %}">-->
<!--    {% csrf_token %}-->
<!--    <select name="comp_name" id="comp_name">-->
<!--        {% for comp_name in comp_names %}-->
<!--            <option value="{{ comp_name }}" {% if comp_name == selected_comp_name %}selected{% endif %}>{{ comp_name }}</option>-->
<!--        {% endfor %}-->
<!--    </select>-->
<!--    <button type="submit">Submit</button>-->
<!--</form>-->

<!--&lt;!&ndash; Display records &ndash;&gt;-->
<!--{% if selected_comp_name %}-->
<!--    <h3>Selected Company Records</h3>-->
<!--    &lt;!&ndash; Display records for Meters &ndash;&gt;-->
<!--    {% for record in meters_records %}-->
<!--        {{ record.comp_name }} - {{ record.make }} - {{ record.capacity }}<br>-->
<!--    {% endfor %}-->

<!--    &lt;!&ndash; Display records for GenerationMeter &ndash;&gt;-->
<!--    {% for record in generation_meter_records %}-->
<!--        {{ record.comp_name }} - {{ record.make }} - {{ record.capacity }}<br>-->
<!--    {% endfor %}-->

<!--    &lt;!&ndash; Display records for GenerationCT &ndash;&gt;-->
<!--    {% for record in generation_ct_records %}-->
<!--        {{ record.comp_name }} - {{ record.make }} - {{ record.capacity }}<br>-->
<!--    {% endfor %}-->
<!--{% endif %}-->

<!--<form method="POST">-->
<!--    {% csrf_token %}-->
<!--    <label for="comp_name">Select Company Name:</label>-->
<!--    <select name="comp_name" id="comp_name">-->
<!--        <option value="">Select</option>-->
<!--        {% for comp_name in comp_names %}-->
<!--            <option value="{{ comp_name }}">{{ comp_name }}</option>-->
<!--        {% endfor %}-->
<!--    </select>-->
<!--    <button type="submit">Fetch Data</button>-->
<!--    <br><br>-->

<!--    {% if selected_comp_name %}-->
<!--        <h3>Meters</h3>-->
<!--        <table>-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <th>Serial No</th>-->
<!--                    <th>ID</th>-->
<!--&lt;!&ndash;                    <th>Company Name</th>&ndash;&gt;-->
<!--                    <th>Make</th>-->
<!--                    <th>Capacity</th>-->
<!--                    <th>Serial Number</th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--                {% for record in meters_records %}-->
<!--                    <tr>-->
<!--&lt;!&ndash;                        <td><input type="checkbox" name="records_to_delete" value="{{ record.id }}"></td>&ndash;&gt;-->
<!--                        <td>{{ forloop.counter }}</td>-->
<!--                        <td>{{ record.id }}</td>-->
<!--&lt;!&ndash;                        <td>{{ record.comp_name }}</td>&ndash;&gt;-->
<!--                        <td>{{ record.make }}</td>-->
<!--                        <td>{{ record.capacity }}</td>-->
<!--                        <td>{{ record.serial_no }}</td>-->
<!--                    </tr>-->
<!--                {% endfor %}-->
<!--            </tbody>-->
<!--        </table>-->

<!--        <h3>Generation Meters</h3>-->
<!--        <table>-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <th>Srial No</th>-->
<!--                    <th>ID</th>-->
<!--&lt;!&ndash;                    <th>Company Name</th>&ndash;&gt;-->
<!--                    <th>Make</th>-->
<!--                    <th>Capacity</th>-->
<!--                    <th>Serial Number</th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--                {% for record in generation_meter_records %}-->
<!--                    <tr>-->
<!--                         <td>{{ forloop.counter }}</td>-->
<!--                        <td>{{ record.id }}</td>-->
<!--&lt;!&ndash;                        <td>{{ record.comp_name }}</td>&ndash;&gt;-->
<!--                        <td>{{ record.make }}</td>-->
<!--                        <td>{{ record.capacity }}</td>-->
<!--                        <td>{{ record.serial_no }}</td>-->
<!--                    </tr>-->
<!--                {% endfor %}-->
<!--            </tbody>-->
<!--        </table>-->

<!--        <h3>Generation CTs</h3>-->
<!--        <table>-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <th>Serial No</th>-->
<!--                    <th>ID</th>-->
<!--&lt;!&ndash;                    <th>Company Name</th>&ndash;&gt;-->
<!--                    <th>Make</th>-->
<!--                    <th>Capacity</th>-->
<!--                    <th>Serial Number</th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--                {% for record in generation_ct_records %}-->
<!--                    <tr>-->
<!--                         <td>{{ forloop.counter }}</td>-->
<!--                        <td>{{ record.id }}</td>-->
<!--&lt;!&ndash;                        <td>{{ record.comp_name }}</td>&ndash;&gt;-->
<!--                        <td>{{ record.make }}</td>-->
<!--                        <td>{{ record.capacity }}</td>-->
<!--                        <td>{{ record.serial_no }}</td>-->
<!--                    </tr>-->
<!--                {% endfor %}-->
<!--            </tbody>-->
<!--        </table>-->

<!--        <button type="submit">Delete Selected Records</button>-->
<!--    {% endif %}-->
<!--</form>-->

<!--   <div class="card-body">-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>

<script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>

      <div class="page-header">
         <div class="row">
            <div class="col-sm-12">
               <h3 class="page-title text-capitalize">Show Meters Details of Company</h3>
               <ul class="breadcrumb" style="border-bottom : 2px solid orange">
                  <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  <li class="breadcrumb-item active">View  Details</li>
               </ul>
            </div>

                                         <!-- Add these buttons inside the col-auto div -->
            <div class="col-auto text-right float-right ml-auto">
                <div class="dt-buttons btn-group flex-wrap">
            <!--       <a href="#" class="btn btn-outline-primary mr-2" name="download" id="download-pdf"><i class="fas fa-download"></i>Download</a>-->
            <!--       <a id="generate-pdf-all" href="#" class="btn btn-primary" type="button" title="PDF"><i class="fas fa-file-pdf fs-4" style="font-size: 1.1rem;"></i></a>-->
                    <a id="generate-excel-all" href="#" class="btn btn-primary" title="Excel"><i class="mdi mdi-microsoft-excel" style="font-size: 18px;"></i></a>
                    <a id="copy-table" href="#" class="btn btn-primary" title="Copy"><i class="fas fa-solid fa-copy"></i></a>
                    <a id="generate-print-all" href="#" class="btn btn-primary" title="Print"><i class="fas fa-solid fa-print"></i></a>
                    <a id="generate-pdf-all" href="#" class="btn btn-primary" title="PDF"><i class="fas fa-file-pdf fs-4" style="font-size: 1.1rem;"></i></a>
                </div>
            </div>

         </div>
      </div>

<form method="POST">
    {% csrf_token %}
    <div class="form-group row">
        <div class="col-sm-10">
            <label for="comp_name">Select Company Name:</label>
            <select class="form-control" name="comp_name" id="comp_name">
                <option value=""></option>
                {% for comp_name in comp_names %}
                    <option value="{{ comp_name }}" {% if comp_name == selected_comp_name %} selected {% endif %}>{{ comp_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-2">
            <br>
            <button type="submit"><i class="nav-icon fa fa-eye" aria-hidden="true"></i>   Preview</button>
        </div>
    </div>

    {% if selected_comp_name %}
        {% if meters_records %}
            <fieldset>
                <legend style="color: blue;">Meters Deatils</legend>
                <fieldset>
                    <legend style="color: blue;">
                        {% if meters_records.0.meter_type %}
                           {{ meters_records.0.meter_type }} Details
                        {% endif %}
                    </legend>
                <table id="meters-table" class="highlight-on-check">
                    <!-- Meter Table Header -->
                    <thead>

                        <tr>

                            <th style="width: 200px; text-align: center">Serial No</th>
                            <th style="width: 300px; text-align: center">Meter Type</th>
                            <th style="width: 400px; text-align: center">Make</th>
                            <th style="width: 300px; text-align: center">Capacity</th>
                            <th style="width: 400px; text-align: center">Serial Number</th>

<!--                            <th style="width: 200px; text-align: center">Delete</th>-->
                        </tr>

                    </thead>
                    <!-- Meter Table Body -->
                    <tbody>
                        {% for record in meters_records %}
                            <tr>
                                <td style="text-align: center">{{ forloop.counter }}</td>
                                <td style="color: red;">{{ record.meter_type }}</td>
                                <td>{{ record.make }}</td>
                                <td style="text-align: center">{{ record.capacity }}</td>
                                <td>{{ record.serial_no }}</td>
<!--                                <td style="text-align: center"><input type="checkbox" class="checkbox-input" name="meters_to_delete" value="{{ record.id }}"></td>-->
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
                     </fieldset>
                <br>
                 {% if meters_records.0.transformer_type != "None" %}
                <fieldset>
                     <legend style="color: blue;">
                        {% if meters_records.0.transformer_type %}
                           {{ meters_records.0.transformer_type }} Meter Details
                        {% endif %}
                    </legend>

                                    <table id="meters-table" class="highlight-on-check">
                    <!-- Meter Table Header -->
                    <thead>

                        <tr>

                            <th style="width: 200px; text-align: center">Serial No</th>
                            <th style="width: 400px; text-align: center">Type</th>
                            <th style="width: 400px; text-align: center">Make</th>
                            <th style="width: 300px; text-align: center">Capacity</th>
                            <th style="width: 400px; text-align: center">Serial Number</th>

<!--                            <th style="width: 200px; text-align: center">Delete</th>-->
                        </tr>

                    </thead>
                    <!-- Meter Table Body -->
                    <tbody>
                        {% for record in meters_records %}
                            <tr>
                                <td style="text-align: center">{{ forloop.counter }}</td>
                                <td style="color: red;">{{ record.transformer_type }}</td>
                                <td>{{ record.transformer_make }}</td>
                                <td style="text-align: center">{{ record.transformer_capacity }}</td>
                                <td>{{ record.transformer_serial_number }}</td>
<!--                                <td style="text-align: center"><input type="checkbox" class="checkbox-input" name="meters_to_delete" value="{{ record.id }}"></td>-->
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
                     </fieldset>
                {% endif %}
            </fieldset>
        {% endif %}
{% if generation_meter_records %}

        <fieldset>
            {% if generation_meter_records.0.CT_make %}
              <legend style="color: blue;">Generation With CT Meters</legend>
            {% else %}
              <legend style="color: blue;">Generation Meters</legend>
            {% endif %}
            <table class="highlight-on-check" id="generation-meters-table">
                <!-- Generation Meter Table Header -->
                <thead>
                <tr>
                    <th style="width: 200px; text-align: center">Sr No.</th>
                    <th style="width: 400px; text-align: center">Generation Meter Make</th>
                    <th style="width: 300px; text-align: center">Generation Meter Capacity</th>
                    <th style="width: 400px; text-align: center">Generation Meter Serial Number</th>
                    {% if generation_meter_records.0.CT_make %} <!-- Check if CT_make is present in the first record -->
                        <th style="width: 400px; text-align: center">CT Make</th>
                        <th style="width: 300px; text-align: center">CT Capacity</th>
                        <th style="width: 400px; text-align: center">CT Serial Number</th>
                    {% endif %}
                    <!-- <th style="width: 200px; text-align: center">Delete</th> -->
                </tr>
                </thead>
                <!-- Generation Meter Table Body -->
                <tbody>
                {% for record in generation_meter_records %}
                    <tr>
                        <td style="text-align: center">{{ forloop.counter }}</td>
                        <td>{{ record.make }}</td>
                        <td>{{ record.capacity }}</td>
                        <td>{{ record.serial_no }}</td>
                        {% if record.CT_make %} <!-- Check if CT_make is present in the current record -->
                            <td>{{ record.CT_make }}</td>
                            <td>{{ record.CT_capacity }}</td>
                            <td>{{ record.CT_serial_no }}</td>
                        {% endif %}
                        <!-- <td style="text-align: center"><input type="checkbox" name="generation_meters_to_delete" class="checkbox-input" value="{{ record.id }}"></td> -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>

{% endif %}

<!--        {% if generation_ct_records %}-->
<!--            <fieldset>-->
<!--                <legend style="color: blue;">Generation Ct</legend>-->
<!--                <table class="highlight-on-check" id="generation-ct-table">-->
<!--                    &lt;!&ndash; Generation Ct Table Header &ndash;&gt;-->
<!--                    <thead>-->
<!--                        <tr>-->
<!--                            <th style="width: 200px; text-align: center">Serial No</th>-->
<!--                            <th style="width: 400px; text-align: center">Make</th>-->
<!--                            <th style="width: 300px; text-align: center">Ratio</th>-->
<!--                            <th style="width: 400px; text-align: center">Serial Number</th>-->
<!--&lt;!&ndash;                            <th style="width: 200px; text-align: center">Delete</th>&ndash;&gt;-->
<!--                        </tr>-->
<!--                    </thead>-->
<!--                    &lt;!&ndash; Generation Ct Table Body &ndash;&gt;-->
<!--                    <tbody>-->
<!--                        {% for record in generation_ct_records %}-->
<!--                            <tr>-->
<!--                                <td style="text-align: center">{{ forloop.counter }}</td>-->
<!--                                <td>{{ record.make }}</td>-->
<!--                                <td>{{ record.capacity }}</td>-->
<!--                                <td>{{ record.serial_no }}</td>-->
<!--&lt;!&ndash;                                <td style="text-align: center"><input type="checkbox" name="generation_cts_to_delete" class="checkbox-input" value="{{ record.id }}"></td>&ndash;&gt;-->
<!--                            </tr>-->
<!--                        {% endfor %}-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </fieldset>-->
<!--        {% endif %}-->

        <!-- Delete Selected Records Button -->
<!--        <div class="form-group" align="center">-->
<!--            <button type="submit" name="action" value="delete" style="width: 200px;">Delete Selected Records</button>-->
<!--        </div>-->
    {% endif %}
</form>

<style>
.form-group {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: lightgray;
}

/* Highlight rows when checkbox is checked */
.highlighted-row {
    background-color: #cb6843; /* Change to your preferred color */
}

.checkbox-input {
    margin: 0 auto;
    display: block;
}

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

<script>
// Function to generate PDF
document.getElementById("generate-pdf-all").addEventListener("click", function() {
    // Select the form content
    var formContent = document.querySelector('form').cloneNode(true);

    // Remove the submit button from the cloned form
    var submitButton = formContent.querySelector('[type="submit"]');
    if (submitButton) {
        submitButton.parentNode.removeChild(submitButton);
    }

 // Remove the "Select Company Name" label
    var selectLabel = formContent.querySelector('label[for="comp_name"]');
    if (selectLabel) {
        selectLabel.parentNode.removeChild(selectLabel);
    }

   // Retrieve the selected company name from the dropdown list
    var selectedCompanyName = document.getElementById("comp_name").value;

    var companyNameHeading = document.createElement('h3');
    companyNameHeading.textContent = "Company: " + selectedCompanyName;

    // Insert the new heading element into the form content
    formContent.insertBefore(companyNameHeading, formContent.firstChild);


    // Adjust the font size of text values in form fields
    var formFields = formContent.querySelectorAll('input[type="text"], input[type="email"], input[type="password"], select, textarea');
    formFields.forEach(function(field) {
        field.style.fontSize = '20px'; // Adjust as needed
    });

    // Adjust the font size of span elements
    var spanElements = formContent.querySelectorAll('span');
    spanElements.forEach(function(span) {
        span.style.fontSize = '14px'; // Adjust as needed
        span.style.marginBottom = '-10px'; // Adjust spacing between rows
    });

     // Adjust the margins of div elements
    var divElements = formContent.querySelectorAll('div');
    divElements.forEach(function(div) {
        div.style.marginBottom = '-15px'; // Adjust spacing between div elements
    });

    // Adjust the spacing between <tr>, <th>, and <td> elements
    var tableElements = formContent.querySelectorAll('table');
    tableElements.forEach(function(table) {
        table.style.borderCollapse = 'collapse'; // Collapse table borders
        table.style.borderSpacing = '0'; // Remove spacing between cells
        var trElements = table.querySelectorAll('tr');
        trElements.forEach(function(tr) {
            tr.style.margin = '0'; // Remove margin
            tr.style.padding = '0'; // Remove padding
        });
        var thTdElements = table.querySelectorAll('th, td');
        thTdElements.forEach(function(element) {
            element.style.padding = '4px'; // Adjust cell padding as needed
            //element.style.fontSize = '12px'; // Adjust as needed
        });
    });


    // Adjust the font size and spacing of h5 elements
    var h5Elements = formContent.querySelectorAll('h5');
    h5Elements.forEach(function(h5) {
        h5.style.fontSize = '15px'; // Adjust font size as needed
        h5.style.marginBottom = '5px'; // Adjust spacing between h5 elements
    });

    // Remove any hidden elements from the cloned form
    var formElements = formContent.querySelectorAll('input[type="hidden"], select, textarea');
    formElements.forEach(function(element) {
        if (element.offsetParent === null) {
            element.parentNode.removeChild(element);
        }
    });

    // Convert the cloned form to PDF
    html2pdf()
        .from(formContent)
        .set({
            margin: 10,
            filename: 'Form_Content.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { dpi: 192, letterRendering: true },
            jsPDF: { unit: 'pt', format: 'a4', orientation: 'portrait' },
        })
        .toPdf()
        .save();
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<script>
document.getElementById("generate-excel-all").addEventListener("click", function() {
    var workbook = new ExcelJS.Workbook();

    // Add Meters_Details worksheet
    var metersWorksheet = workbook.addWorksheet('Meters_Details');
    addTableToWorksheet('#meters-table', metersWorksheet);

    // Add Generation_Meters worksheet
    var generationMetersWorksheet = workbook.addWorksheet('Generation_Meters');
    addTableToWorksheet('#generation-meters-table', generationMetersWorksheet);

    // Add Generation_CT worksheet
    var generationCtWorksheet = workbook.addWorksheet('Generation_CT');
    addTableToWorksheet('#generation-ct-table', generationCtWorksheet);

    // Generate Excel file
    workbook.xlsx.writeBuffer().then(function(data) {
        var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
        saveAs(blob, 'Company_Meters_Details.xlsx');
    });
});

function addTableToWorksheet(tableId, worksheet) {
    // Add headers
    var headers = [];
    var headerCells = document.querySelectorAll(tableId + ' thead th');
    headerCells.forEach(function(cell) {
        headers.push(cell.innerText);
    });
    worksheet.addRow(headers);

    // Add table data
    var rows = document.querySelectorAll(tableId + ' tbody tr');
    rows.forEach(function(row) {
        var rowData = [];
        var cells = row.querySelectorAll('td');
        cells.forEach(function(cell) {
            rowData.push(cell.innerText);
        });
        worksheet.addRow(rowData);
    });
}
</script>



<script>
// Function to copy content within the form
document.getElementById("copy-table").addEventListener("click", function() {
    var formContent = document.querySelector('form').innerText; // Extract text content of the form
    navigator.clipboard.writeText(formContent).then(function() {
        alert('Form content copied to clipboard');
    }, function(err) {
        console.error('Failed to copy: ', err);
    });
});



// Function to print the content within the form excluding submit button and company symbol
document.getElementById("generate-print-all").addEventListener("click", function() {
    var companyName = 'DB Solar Pvt Ltd';
    var formContent = document.querySelector('form').cloneNode(true);
    var submitButton = formContent.querySelector('[type="submit"]');
    submitButton.parentNode.removeChild(submitButton);

    // Remove company symbol
    var companySymbol = formContent.querySelector('.company-symbol-overlap');
    if (companySymbol) {
        companySymbol.parentNode.removeChild(companySymbol);
    }

    // Hide content within <small> elements with class 'text-muted'
    var smallElements = formContent.querySelectorAll('small.text-muted');
    smallElements.forEach(function(small) {
        small.style.display = 'none'; // Hide the content
    });

    // Remove bullet symbols from unordered lists and adjust spacing
    var unorderedLists = formContent.querySelectorAll('ul');
    unorderedLists.forEach(function(ul) {
        ul.style.listStyleType = 'none'; // Remove bullet symbols
        ul.style.paddingInlineStart = '20px'; // Add left padding for spacing between list items
        ul.style.marginBlockStart = '0'; // Remove any top margin
        ul.style.marginBlockEnd = '0'; // Remove any bottom margin
    });

    // Resize images and move to the left side
    var images = formContent.querySelectorAll('img');
    images.forEach(function(img) {
        img.style.maxWidth = '200px'; // Adjust the maximum width of the image
        img.style.height = '200px';
        img.style.float = 'left'; // Float the image to the left
        img.style.marginRight = '20px'; // Add margin for spacing between image and text
    });

    // Adjust spacing for each list item
    var listItems = formContent.querySelectorAll('li');
    listItems.forEach(function(li) {
        li.style.marginBottom = '7px'; // Add margin bottom to create space between rows
    });

    // Adjust spacing for small elements
    var smallElements = formContent.querySelectorAll('small');
    smallElements.forEach(function(small) {
        small.style.margin = '0'; // Remove any margin
        small.style.padding = '0'; // Remove any padding
    });


    var thTdElements = formContent.querySelectorAll('table, th, td');
        thTdElements.forEach(function(element) {
        element.style.border = 'none'; // Remove table header border
        element.style.padding = '4px'; // Remove table data border
    });



    // Adjust the font size and spacing of h5 elements
    var h5Elements = formContent.querySelectorAll('h5');
    h5Elements.forEach(function(h5) {
        h5.style.fontSize = '15px'; // Adjust font size as needed
        h5.style.marginBottom = '10px'; // Adjust spacing between h5 elements
    });

        // Remove the company selection and its related label
    var companyLabel = formContent.querySelector('label[for="comp_name"]');
    if (companyLabel) {
        companyLabel.parentNode.removeChild(companyLabel);
    }

     // Remove the company selection and its dropdown list
    var companySelection = formContent.querySelector('[name="comp_name"]');
    if (companySelection) {
        companySelection.parentNode.removeChild(companySelection);
    }

    // Retrieve the selected value of the comp_name dropdown list
    var selectedCompanyName = document.querySelector('select[name="comp_name"]').selectedOptions[0].textContent;

    // Adjust table headers for proper alignment
    var tableHeaders = formContent.querySelectorAll('table, th, td');
    tableHeaders.forEach(function(element) {
        element.style.textAlign = 'center'; // Align table headers to the left
        element.style.border = '1'; // Remove table header border
    });

    // Construct print content with header and form content
    var printContent = '<html><head><title>Print</title>';
    printContent += '<style>@media print { img { display: inline !important; } }</style>'; // Show images inline in print
    printContent += '<style>body { font-family: Arial, sans-serif; }</style>'; // Set font-family
    printContent += '</head><body>';
    printContent += '<h1 style="text-align: center;">' + companyName + '</h1>';
    printContent += '<h2 style="text-align: center;">Selected Company: ' + selectedCompanyName + '</h2>'; // Display the selected company name
    //printContent += '<hr>';
    printContent += formContent.outerHTML; // Use outerHTML to include the form element itself
    printContent += '</body></html>';

    // Open print window and print
    var printWindow = window.open('', '_blank');
    printWindow.document.write(printContent);
    printWindow.document.close();
    printWindow.print();
});

</script>


{% endblock %}
